In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('DOMensalEstadoDesde1991.csv', sep= ';', encoding = 'latin1')
df

,ano,mes,hom_doloso,lesao_corp_morte,latrocinio,cvli,hom_por_interv_policial,letalidade_violenta,tentat_hom,lesao_corp_dolosa,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1991,1,657,NaN,15,NaN,NaN,672,162,3051,...,NaN,NaN,NaN,NaN,217,NaN,NaN,NaN,NaN,3
1,1991,2,732,NaN,17,NaN,NaN,749,175,3421,...,NaN,NaN,NaN,NaN,209,NaN,NaN,NaN,NaN,3
2,1991,3,713,NaN,25,NaN,NaN,738,216,3613,...,NaN,NaN,NaN,NaN,188,NaN,NaN,NaN,NaN,3
3,1991,4,634,NaN,20,NaN,NaN,654,200,3211,...,NaN,NaN,NaN,NaN,140,NaN,NaN,NaN,NaN,3
4,1991,5,650,NaN,20,NaN,NaN,670,146,3051,...,NaN,NaN,NaN,NaN,78,NaN,NaN,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,2025,1,317,10.0,6,333.0,68.0,401,342,6055,...,927.0,116.0,6159.0,552.0,40,3.0,2.0,0.0,81562.0,3
409,2025,2,245,6.0,6,257.0,79.0,336,324,5973,...,972.0,139.0,6149.0,520.0,50,2.0,0.0,2.0,80306.0,3
410,2025,3,271,10.0,7,288.0,59.0,347,347,6249,...,1102.0,136.0,6406.0,622.0,40,3.0,1.0,0.0,84129.0,3
411,2025,4,205,6.0,6,217.0,80.0,297,296,4987,...,933.0,105.0,5498.0,498.0,31,1.0,0.0,0.0,75761.0,2
412,2025,5,255,5.0,4,264.0,44.0,308,279,4964,...,1022.0,115.0,5559.0,496.0,37,5.0,0.0,0.0,80424.0,2